@use "sass:map";

@import "./reset";
@import "../css/style";
@import "./variables";
@import "./mixins";

@include makeClass(pos, $position, position);
@include makeClass(d, $display, display);
@include makeClass(flex-jus-c, $justify-content, justify-content);
@include makeClass(flex-align-i, $align-item, align-items);
@include makeClass(flex-dir, $flex-direction, flex-direction);
@include makeClass(flex, $flex-wrap, flex-wrap);
@include makeClass(font-weight, $font-weight, font-weight);
@include makeClass(border-rounded, $border-rounded, border-radius);
@include makeClass(bg, $background-color, background-color);
@include makeClass(text, $text-color, color);

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  @include media(map.get($breakpoint, "sm")) {
    padding: 0 30px;
  }
}

.margin-0-auto {
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.ff-montserrat {
  font-family: "Montserrat", sans-serif;
}

.ff-source-san-pro {
  font-family: "Source-san-pro", sans-serif;
}

// top header

.top-area {
  font-size: 14px;
  border-top: 5px solid map.get($text-color, "blue-light");
  @include media(map.get($breakpoint, "xl")) {
    display: none;
  }

  &__location {
    margin-right: 10px;
  }

  &__location,
  &__phone-number {
    i {
      padding-right: 3px;
    }
    font-size: 16px;
  }

  &__list-social-network {
    li {
      padding: 0 8px;
    }
  }

  &__list-action {
    li {
      padding-right: 30px;
      a {
        transition: color 0.3s ease;
        i {
          font-size: 10px;
          padding-right: 5px;
        }
        &:hover {
          color: map.get($text-color, "blue-light");
        }
      }
    }
  }

  &__button {
    padding: 7px 13px 9px 13px;
    margin: 10px 0;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

// menu

.menu {
  top: 0;
  z-index: 999;
  @include media(map.get($breakpoint, "xl")) {
    padding: 20px 0;
  }

  input {
    display: none;
    @include media(map.get($breakpoint, "xl")) {
      &:checked ~ .menu__item:nth-child(3) {
        transform: translateY(36px);
        visibility: visible;
        opacity: 0.9;
      }
      &:checked ~ .menu__btn-open::before {
        transform: rotateZ(45deg);
        transform-origin: top left;
      }
      &:checked ~ .menu__btn-open::after {
        transform: rotateZ(-45deg);
        transform-origin: bottom left;
      }
      &:checked ~ .menu__btn-open {
        border-color: transparent;
      }
    }
  }

  &__btn-open {
    display: none;
    width: 17px;
    border-top: 1px solid map.get($text-color, "black");
    transition: all 0.1s;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      width: 17px;
      border-top: 1px solid map.get($text-color, "black");
      position: absolute;
      transition: all 0.3s ease-out;
    }
    &::before {
      top: -7px;
      height: 14px;
    }
    &::after {
      top: 5px;
    }
    @include media(map.get($breakpoint, "xl")) {
      display: block;
    }
  }

  &__item {
    &:nth-child(2) {
      display: none;
      @include media(map.get($breakpoint, "xl")) {
        display: block;
      }
    }
    &:nth-child(3) {
      @include media(map.get($breakpoint, "xl")) {
        position: absolute;
        top: 9px;
        left: 0;
        height: 100vh;
        right: 0;
        bottom: 0;
        background: map.get($background-color, "white");
        padding-top: 40px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out 0.1s;
      }
    }
  }

  &__list-nav {
    @include media(map.get($breakpoint, "xl")) {
      flex-direction: column;
      text-align: center;
    }
    & > li {
      padding: 40px 40px 40px 0;
      font-size: 14px;
      @include media(map.get($breakpoint, "xl")) {
        padding: 10px 0;
      }
      &:hover .menu__list-nav-sub {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  &__nav-wrapper {
    @include media(map.get($breakpoint, "xl")) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list-nav-sub {
    top: 100%;
    border-right: 1px solid map.get($text-color, "grey");
    border-top: 1px solid map.get($text-color, "grey");
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s ease-out 0.1s;

    & > li {
      padding: 20px 120px 20px 20px;
      cursor: pointer;
      border-bottom: 0.5px solid rgb(238, 238, 238);
      border-left: 4px solid transparent;
      font-size: 13px;
      transition: background-color 0.1s linear;
      &:hover {
        border-left: 4px solid map.get($text-color, "blue-light");
        background: map.get($background-color, "white");
      }
    }
  }
  &__action {
    & > div {
      margin-right: 20px;
      cursor: pointer;
      @include media(map.get($breakpoint, "xl")) {
        justify-content: center;
        padding-top: 30px;
      }
    }
  }

  &__cart {
    @include media(map.get($breakpoint, "xl")) {
      margin-right: 0 !important;
    }
    img {
      margin-right: 5px;
    }
    .triangle-left-icon {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #00bcd4;
    }
  }

  &__counter {
    font-size: 13px;
    span {
      padding-right: 5px;
      top: -1px;
    }
  }

  &__text {
    margin-left: 5px;
    font-size: 27px;
    @include media(map.get($breakpoint, "xl")) {
      font-size: 20px;
    }
  }

  &__logo {
    @include media(map.get($breakpoint, "xl")) {
      width: 27px;
      height: 25px;
    }
  }
}

// slide show
.slide-show {
  &__box {
    width: 100%;
    padding-top: 32.81%;
  }
}

// feature

.feature {
  padding: 145px 0;
  @include media(map.get($breakpoint, "sm")) {
    padding: 40px 0 10px 0;
  }
  &__list-item {
    padding-left: -42px;
    @include media(map.get($breakpoint, "xl")) {
      flex-wrap: wrap;
      margin-left: 0;
    }
    @include media(map.get($breakpoint, "sm")) {
      padding: 0;
      margin-bottom: 50px;
    }
  }

  &__item {
    padding: 42px;
    flex: 33.33%;
    @include media(map.get($breakpoint, "xl")) {
      flex: 0 0 50%;
      box-sizing: border-box;
      padding: 0 40px 40px 0;
    }
    @include media(map.get($breakpoint, "lg")) {
      flex: 100%;
      padding-right: 0;
    }
  }

  &__title {
    & > h1 {
      font-size: 24px;
      width: 60%;
      line-height: 1.5;
      @include media(map.get($breakpoint, "sm")) {
        width: 100%;
        padding-right: 20px;
      }
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
  }

  &__content {
    margin-top: 25px;
    width: 70%;
    line-height: 1.5;
    @include media(map.get($breakpoint, "sm")) {
      width: 80%;
    }
  }

  &__action {
    margin-top: 50px;
    & > button {
      width: 147px;
      height: 30px;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// counter

.counter {
  padding: 120px 0;
  @include media(map.get($breakpoint, "sm")) {
    padding: 50px 0;
  }
  &__list-item {
    @include media(map.get($breakpoint, "lg")) {
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 25%;
    @include media(map.get($breakpoint, "lg")) {
      flex: 33.33%;
      padding-bottom: 40px;
    }
    @include media(map.get($breakpoint, "md")) {
      flex: 50%;
    }
    @include media(map.get($breakpoint, "sm")) {
      flex: 100%;
    }
  }

  &__box {
    width: 170px;
    height: 170px;

    &::after {
      content: "";
      width: 170px;
      height: 170px;
      border-radius: 50%;
      border: 4px solid;
      border-color: inherit;
      position: absolute;
    }

    &::before {
      content: "";
      width: 145px;
      height: 145px;
      border-radius: 50%;
      border: 2px solid;
      border-color: inherit;
      position: absolute;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
  }

  &__number {
    font-size: 50px;
    margin: 30px 0 10px 0;
  }

  &__title {
    font-size: 24px;
  }
}

// why-choose-us

.why-choose-us {
  padding-top: 115px;
  padding-bottom: 55px;
  @include media(map.get($breakpoint, "sm")) {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  &__header {
    text-align: center;
    padding-bottom: 40px;
    font-size: 50px;
    @include media(map.get($breakpoint, "sm")) {
      font-size: 27px;
    }
  }

  &__list-item {
    margin-left: -42px;
    @include media(map.get($breakpoint, "lg")) {
      margin-left: 0;
    }
  }

  &__item {
    margin-left: 42px;
    padding: 60px 0 60px 0;
    flex: calc(33.33% - 42px);
    &:nth-child(-n + 3) {
      border-bottom: 1px solid map.get($text-color, "grey");
      @include media(map.get($breakpoint, "lg")) {
        border: none;
      }
    }
    @include media(map.get($breakpoint, "lg")) {
      flex: 100%;
      margin-left: 0;
    }
    @include media(map.get($breakpoint, "sm")) {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 18px;
  }

  &__title {
    font-size: 19px;
  }

  &__content {
    margin-left: 68px;
    padding-top: 20px;
    line-height: 1.5;
  }
}

// full-width

.full-width {
  &__item {
    box-sizing: border-box;
    flex: 33.3333%;
    padding: 55px;
    @include media(map.get($breakpoint, "xl")) {
      padding: 20px;
    }
    @include media(map.get($breakpoint, "lg")) {
      flex: 100%;
      padding: 20px;
    }
    &:nth-child(3) .full-width__content {
      color: map.get($text-color, "white");
    }
  }

  &__number {
    font-size: 80px;
    padding: 60px 0;
    @include media(map.get($breakpoint, "sm")) {
      padding-top: 10px;
    }
  }

  &__title {
    font-size: 36px;
    padding-bottom: 40px;
    color: #ebf4e2;
    span {
      color: #e7ff89;
    }
  }

  &__content {
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 40px;
  }
}

// our-case-studies

.our-case-studies {
  text-align: center;
  &__header {
    padding-top: 130px;
    font-size: 50px;
    @include media(map.get($breakpoint, "sm")) {
      font-size: 27px;
      padding-top: 40px;
    }
  }

  &__content {
    padding-top: 80px;
    @include media(map.get($breakpoint, "sm")) {
      padding-top: 30px;
    }
  }

  &__group-btn {
    padding-top: 110px;
    @include media(map.get($breakpoint, "sm")) {
      padding-top: 30px;
    }
    button {
      margin-right: 15px;
      padding: 10px 25px;
      font-size: 14px;
      margin-bottom: 15px;
      &:hover {
        background: #99a9b5;
        color: map.get($text-color, "white");
      }
    }
  }

  button {
    transition: background-color 0.5s, color 0.5s;
  }

  &__group-image {
    padding-top: 85px;
    display: grid;
    grid-gap: 0 0;
    div {
      &:nth-child(n) {
        width: 100%;
        padding-top: 100%;
      }
      &:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        @include media(map.get($breakpoint, "md")) {
          grid-column: 1 / span 2;
          grid-row: 1 / span 2;
        }
      }
      &:nth-child(2) {
        grid-column: 3;
        grid-row: 1;
        @include media(map.get($breakpoint, "md")) {
          grid-column: 1 / span 2;
          grid-row: 3 / span 2;
        }
      }
      &:nth-child(3) {
        grid-column: 4;
        grid-row: 1;
        @include media(map.get($breakpoint, "lg")) {
          grid-column: 3;
          grid-row: 2;
        }
        @include media(map.get($breakpoint, "md")) {
          grid-column: 1 / span 2;
          grid-row: 5 / span 2;
        }
      }
      &:nth-child(4) {
        @include media(map.get($breakpoint, "lg")) {
          grid-column: 1;
          grid-row: 3;
        }
        @include media(map.get($breakpoint, "md")) {
          grid-column: 1 / span 2;
          grid-row: 7 / span 2;
        }
      }
      &:nth-child(5) {
        @include media(map.get($breakpoint, "lg")) {
          grid-column: 2;
          grid-row: 3;
        }
        @include media(map.get($breakpoint, "md")) {
          grid-column: 1 / span 2;
          grid-row: 9 / span 2;
        }
      }
      &:nth-child(6) {
        @include media(map.get($breakpoint, "lg")) {
          grid-column: 3;
          grid-row: 3;
        }
        @include media(map.get($breakpoint, "md")) {
          grid-column: 1 / span 2;
          grid-row: 11 / span 2;
        }
      }
      &:nth-child(7) {
        @include media(map.get($breakpoint, "lg")) {
          grid-column: 1;
          grid-row: 4;
        }
        @include media(map.get($breakpoint, "md")) {
          grid-column: 1 / span 2;
          grid-row: 13 / span 2;
        }
      }
      &:nth-child(8) {
        grid-column: 3 / span 2;
        grid-row: 3;
        padding-top: 50%;
        @include media(map.get($breakpoint, "lg")) {
          grid-column: 2 / span 2;
          grid-row: 4;
        }
        @include media(map.get($breakpoint, "md")) {
          grid-column: 1 / span 2;
          grid-row: 15 / span 2;
        }
      }
    }
    img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include media(map.get($breakpoint, "sm")) {
      padding-top: 30px;
    }
  }

  &__footer {
    padding: 105px 0;
    @include media(map.get($breakpoint, "sm")) {
      padding: 30px 0;
    }
    button {
      margin: 0 20px;
      padding: 17px 40px;
      flex: 0 0 120px;
      box-sizing: content-box;
      font-size: 16px;
      border: 1px solid map.get($text-color, "blue-light");
      &:hover {
        background: map.get($background-color, "blue-light");
        color: map.get($text-color, "white");
      }
    }
    div {
      flex: auto;
      height: 5px;
      border-top: 1px solid map.get($text-color, "blue-light");
      border-bottom: 1px solid map.get($text-color, "blue-light");
    }
  }
}

// core-competence

.core-competence {
  &__header {
    padding-top: 110px;
    padding-bottom: 170px;
    background-image: linear-gradient(to right, #42a2e9, #00d5c3);
    text-align: center;
    @include media(map.get($breakpoint, "sm")) {
      padding-top: 50px;
      padding-bottom: 70px;
    }
    &-title {
      font-size: 50px;
      padding-bottom: 70px;
      @include media(map.get($breakpoint, "sm")) {
        font-size: 27px;
        padding-bottom: 30px;
      }
    }

    &-content {
      line-height: 1.5;
    }

    &::after,
    &::before {
      content: "";
      height: 70px;
      width: 50%;
      background: map.get($background-color, "dark");
      position: absolute;
      bottom: 0;
    }

    &::after {
      right: 0;
      border-top-left-radius: 1000px;
    }

    &::before {
      left: 0;
      border-top-right-radius: 1000px;
    }
  }

  &__list-item {
    @include media(map.get($breakpoint, "sm")) {
      padding-bottom: 50px;
    }
  }

  &__item {
    flex: 50%;
    text-align: center;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
    overflow: hidden;

    &:nth-child(n) {
      &::before {
        content: "";
        border: 1px dashed map.get($text-color, "white-medium");
        position: absolute;
        @include media(map.get($breakpoint, "lg")) {
          border: none;
        }
      }
    }

    &:nth-child(1) {
      &::before {
        height: 80%;
        right: 0;
      }
    }

    &:nth-child(2) {
      &::before {
        width: 90%;
        bottom: 0;
        left: 0;
        transform: translateX(10%);
      }
    }

    &:nth-child(3) {
      &::before {
        width: 90%;
        top: 0;
        left: 0;
      }
    }

    &:nth-child(4) {
      &::before {
        height: 80%;
        top: 0;
        left: 0;
        transform: translateY(10%);
      }
    }

    &-icon {
      width: 100%;
      height: 150px;
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        background: #393b51;
        opacity: 0.3;
      }
    }

    &-title {
      font-size: 28px;
      padding: 30px 0;
    }

    &-content {
      padding: 0 40px;
      color: map.get($text-color, "white-medium");
    }

    &-button {
      padding: 60px 0;
      @include media(map.get($breakpoint, "sm")) {
        padding-bottom: 0;
      }
      & > button {
        padding: 6px 23px;
        border: 1px solid map.get($text-color, "blue-light");
        font-size: 14px;
      }
    }
    @include media(map.get($breakpoint, "lg")) {
      flex: 100%;
    }
  }
}

//  pricing table

.pricing-table {
  text-align: center;
  padding: 128px 0 150px 0;
  @include media(map.get($breakpoint, "sm")) {
    padding: 40px 0;
  }
  &__header {
    font-size: 50px;
    padding-bottom: 80px;
    @include media(map.get($breakpoint, "sm")) {
      font-size: 27px;
      padding-bottom: 30px;
    }
  }
  &__list-item {
    padding-top: 127px;
    @include media(map.get($breakpoint, "lg")) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include media(map.get($breakpoint, "sm")) {
      flex-wrap: wrap;
      margin: 0 20px;
      padding: 0;
    }
  }

  &__icon-new {
    left: 36px;
    width: 50px;
    height: 50px;
    font-size: 12px;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__icon-triangle {
    width: 0;
    height: 0;
    border-left: 5px solid map.get($text-color, "white");
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding-right: 6px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &__item {
    flex: 25%;
    margin-top: 26px;
    &-title {
      font-size: 24px;
      padding: 30px 0;
      border-left: 1px solid map.get($text-color, "grey-light");
      border-top: 1px solid map.get($text-color, "grey-light");
      span {
        font-size: 16px;
      }
    }
    &-number {
      font-size: 65px;
      padding: 29px 0;
      span {
        font-size: 16px;
        padding-top: 8px;
      }
    }

    ul {
      padding-top: 30px;
      border-left: 1px solid map.get($text-color, "grey-light");
      li {
        padding: 20px 0 15px 0;
        border-bottom: 1px solid map.get($text-color, "grey-light");
        &:last-child {
          border: none;
        }
      }
    }

    &-order {
      padding: 35px 0 50px 0;
      border-left: 1px solid map.get($text-color, "grey-light");
      border-bottom: 1px solid map.get($text-color, "grey-light");
      button {
        padding: 12px 24px;
        background: #393d50;
      }
    }

    &:last-child {
      .pricing-table__item-title,
      ul,
      .pricing-table__item-order {
        border-right: 1px solid map.get($text-color, "grey-light");
      }
    }

    &:nth-child(1) {
      @include media(map.get($breakpoint, sm)) {
        .pricing-table__item-title {
          border-right: 1px solid #dfe5e8;
        }
        ul {
          border-right: 1px solid #dfe5e8;
        }

        .pricing-table__item-order {
          border-right: 1px solid #dfe5e8;
        }
      }
    }

    &:nth-child(2) {
      @include media(map.get($breakpoint, md)) {
        .pricing-table__item-title {
          border-right: 1px solid #dfe5e8;
        }
        ul {
          border-right: 1px solid #dfe5e8;
        }

        .pricing-table__item-order {
          border-right: 1px solid #dfe5e8;
        }
      }
    }

    &:nth-child(3) {
      margin-top: 0;
      .pricing-table__item-title {
        padding-top: 40px;
        @include media(map.get($breakpoint, "lg")) {
          border-right: 1px solid #dfe5e8;
        }
        &::before {
          content: "";
          position: absolute;
          border-right: 1px solid map.get($text-color, "grey-light");
          height: 100%;
          right: -1px;
          top: -1px;
        }
      }
      .pricing-table__item-order {
        padding-bottom: 75px;
        &::before {
          content: "";
          position: absolute;
          border-right: 1px solid map.get($text-color, "grey-light");
          height: 100%;
          right: -1px;
          bottom: -1px;
        }
        @include media(map.get($breakpoint, "lg")) {
          border-right: 1px solid #dfe5e8;
        }
      }
      button {
        background: map.get($background-color, "blue-light");
      }

      & > ul {
        @include media(map.get($breakpoint, "lg")) {
          border-right: 1px solid #dfe5e8;
        }
      }
    }
    @include media(map.get($breakpoint, "lg")) {
      flex: 0 0 33.33%;
      margin-bottom: 50px;
    }
    @include media(map.get($breakpoint, "md")) {
      flex: 50%;
    }
    @include media(map.get($breakpoint, "sm")) {
      flex: 100%;
      margin-top: 60px;
    }
  }
}

// advertisement

.advertisement {
  background: #ffcd46;
  padding: 60px 0;
  &__list-item {
    flex-direction: column;
  }
  &__item {
    flex: 33.33%;
    @include media(map.get($breakpoint, "lg")) {
      flex: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__wrap-logo {
    @include media(map.get($breakpoint, "md")) {
      align-items: center;
    }
    span {
      font-size: 63px;
      @include media(map.get($breakpoint, "md")) {
        font-size: 40px;
      }
      @include media(map.get($breakpoint, "sm")) {
        font-size: 20px;
      }
    }
  }
  &__logo {
    width: 73px;
    height: 69px;
    margin-top: -5px;
    @include media(map.get($breakpoint, "md")) {
      width: 50px;
      height: 55px;
    }
    @include media(map.get($breakpoint, "sm")) {
      width: 30px;
      height: 35px;
    }
  }
  &__content {
    text-align: center;
    font-size: 24px;
    line-height: 1.8;
    @include media(map.get($breakpoint, "xl")) {
      font-size: 20px;
    }
  }
  &__button {
    text-align: right;
    button {
      padding: 13px 33px;
      font-size: 19px;
      border: 3px solid map.get($text-color, "dark");
      background: transparent;
      @include media(map.get($breakpoint, "xl")) {
        padding: 7px 30px;
        font-size: 15px;
      }
    }
  }
}

// open-vacancies

.open-vacancies {
  padding: 128px 0;
  @include media(map.get($breakpoint, "sm")) {
    padding: 50px 0;
  }
  &__list-item {
    @include media(map.get($breakpoint, "lg")) {
      flex-wrap: wrap;
      box-sizing: border-box;
    }
  }
  &__item {
    &:nth-child(1) {
      flex: 33.33%;
    }
    &:nth-child(2) {
      flex: 66.66%;
    }
    @include media(map.get($breakpoint, "lg")) {
      flex: 0 0 100% !important;
    }
  }
  &__title {
    font-size: 24px;
    padding-bottom: 48px;
  }
  &__our-team {
    padding-right: 42px;
    @include media(map.get($breakpoint, "lg")) {
      padding-right: 0;
    }
    li {
      padding: 40px 0;
      margin-bottom: 25px;
    }
  }
  &__person-box {
    padding: 0 35px;
  }
  &__avatar {
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 17px;
  }
  &__name {
    font-size: 24px;
    padding-bottom: 19px;
  }
  &__position {
    font-size: 16px;
    padding-bottom: 13px;
  }
  &__list-position {
    li {
      min-width: 160px;
      margin-right: 15px;
      margin-bottom: 15px;
      padding: 20px 0;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      &:nth-child(1) {
        border: 1px solid map.get($text-color, "grey-light");
        padding: 18px 0;
        cursor: none;
      }
      @include media(map.get($breakpoint, "md")) {
        width: 100%;
      }
    }
  }
  &__position-content {
    border: 1px solid map.get($text-color, "grey-light");
    padding: 40px;
    @include media(map.get($breakpoint, "md")) {
      padding: 0;
    }
  }
  &__position-image {
    width: 50%;
    padding-top: 32%;
    align-self: baseline;
    @include media(map.get($breakpoint, "md")) {
      flex: 100%;
      padding-top: 66.66%;
      margin: 10px 30px 10px 30px;
    } 
    img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__position-detail {
    width: 50%;
    padding-left: 40px;
    @include media(map.get($breakpoint, "md")) {
      flex: 100%;
      padding: 0;
      margin: 0 30px;
    }
    h1 {
      font-size: 19px;
      padding-bottom: 30px;
    }
    p {
      line-height: 1.8;
    }
  }
  &__position-requirements {
    padding-top: 20px;
    @include media(map.get($breakpoint, "md")) {
      margin: 30px;
    }
    li {
      flex: 50%;
      box-sizing: border-box;
      margin-bottom: 24px;
      padding-left: 17px;
      &::before {
        content: "";
        width: 6px;
        height: 6px;
        background: #00bcd4;
        position: absolute;
        top: 5px;
        left: 0;
      }
      &:nth-child(2n) {
        padding-left: 57px;
        @include media(map.get($breakpoint, "md")) {
          padding-left: 17px;
        }
        &::before {
          left: 40px;
          @include media(map.get($breakpoint, "md")) {
            left: 0;
          }
        }
      }
      @include media(map.get($breakpoint, "md")) {
        flex: 100%;
      }
    }
  }
}

// contact-us

.contact-us {
  padding: 129px 0 113px 0;
  @include media(map.get($breakpoint, "sm")) {
    padding: 50px 0;
  }
  &__list-item {
    @include media(map.get($breakpoint, "xl")) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 25%;
    text-align: center;
    @include media(map.get($breakpoint, "xl")) {
      margin-bottom: 40px;
    }
    @include media(map.get($breakpoint, "lg")) {
      flex: 50%;
    }
    @include media(map.get($breakpoint, "sm")) {
      flex: 100%;
      margin-bottom: 50px;
    }
    h1 {
      padding-bottom: 30px;
      font-size: 19px;
    }
    p {
      padding-bottom: 10px;
    }
  }
  &__img {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
  }
}

// empty
.empty {
  width: 100%;
  padding-top: 23.75%;
  &::before,
  &::after {
    content: "";
    width: 50%;
    height: 100%;
    background: map.get($background-color, "grey-light");
    position: absolute;
    top: 0;
  }
  &::after {
    right: 0;
    border-top-left-radius: 40px;
  }
  &::before {
    left: 0;
    border-top-right-radius: 40px;
  }
}

// footer
.footer {
  .container {
    @include media(map.get($breakpoint, "md")) {
      flex-direction: column-reverse;
    }
  }
  &-widgets {
    padding: 130px 0;
    @include media(map.get($breakpoint, "sm")) {
      padding: 50px 0;
    }
  }
  &__list-item {
    margin-left: -42px;
    @include media(map.get($breakpoint, "xl")) {
      flex-wrap: wrap;
    }
  }
  &__item {
    margin-left: 42px;
    flex: calc(25% - 42px);
    @include media(map.get($breakpoint, "xl")) {
      margin-bottom: 30px;
      flex: calc(50% - 42px);
    }
    @include media(map.get($breakpoint, "md")) {
      flex: calc(100% - 42px);
    }
  }
  &__wrap-logo {
    padding-bottom: 50px;
  }
  &__logo {
    width: 70px;
    height: 70px;
  }
  &__logo-text {
    font-size: 38.76px;
  }
  &__content {
    color: #99a9b5;
    line-height: 1.8;
  }
  &__title {
    margin-bottom: 44px;
    &::before {
      content: "";
      border-left: 8px solid #f20055;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      position: absolute;
      right: -20px;
      bottom: -2px;
      transform: rotateZ(135deg);
    }
  }
  &__list-link {
    li {
      padding-left: 15px;
      margin-bottom: 25px;
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: map.get($background-color, "blue-light");
        border-radius: 50%;
        transform: translateY(-50%) scale(0.5);
        transform-origin: center left;
      }
    }
  }
  &__newsletter {
    line-height: 1.8;
  }
  &__text-box {
    margin-top: 40px;
    input {
      padding: 12px 15px;
      border: 1px solid map.get($text-color, "grey");
      outline: none;
      width: calc(100% - 38px);
    }
    button {
      outline: none;
      width: 42px;
      height: 43px;
      right: 0;
      top: -1px;
      border: 1px solid map.get($text-color, "dark");
      cursor: pointer;
      color: rgb(196, 193, 193);
      &:hover {
        background: map.get($background-color, "blue-light");
      }
    }
    p {
      font-size: 14px;
      padding-top: 18px;
      &::before {
        content: "*";
        color: map.get($text-color, "blue-light");
        padding-right: 3px;
      }
    }
  }

  &__post {
    padding: 15px 0;
    &:nth-child(1) {
      padding: 15px 0;
      border-bottom: 1px solid map.get($background-color, "grey");
    }
    &-content {
      padding-left: 12px;
      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.5;
      }
      div {
        margin-top: 6px;
      }
    }
  }
  &__image {
    height: 70px;
    padding-left: 70px;
    overflow: hidden;
    img {
      top: 0;
      left: 0;
    }
  }
  &__like {
    padding-right: 10px;
    img {
      padding-right: 7px;
    }
  }

  &-nav {
    padding: 45px 0;
  }

  &__nav-item {
    flex: 33.33%;
    @include media(map.get($breakpoint, "md")) {
      margin: 10px 0;
    }
  }
  &__list-social-network {
    justify-content: flex-end;
    li {
      padding: 0 8px;
    }
  }
  &__contact {
    text-align: center;
    li {
      &:nth-child(n) {
        padding: 0 10px;
        margin-bottom: 5px;
      }
      &:nth-child(-n + 3) {
        border-right: 1px solid rgb(189, 189, 189);
      }
    }
  }
}
