html {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: #5f727f;
}

.d-flex {
  display: flex;
}

.d-flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-align-vertical {
  display: flex;
  align-items: center;
}

.d-flex-jc-sb {
  display: flex;
  justify-content: space-between;
}

.d-flex-jc-center {
  display: flex;
  justify-content: center;
}

.align-center-horizontal {
  margin: 0 auto;
}

.col-1-divide-3 {
  width: 33.3333%;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: bold;
}

.font-bolder {
  font-weight: bolder;
}

.container {
  max-width: 1200px;
}

.top-area {
  border-top: 5px solid #00bcd4;
  background: #f4f6f7;
  font-size: 14px;
  color: #5f727f;
}

.top-area i {
  font-size: 16px;
}

.top-area__location > i,
.top-area__phone-number > i {
  padding-right: 3px;
}

.top-area__list-social-network > li {
  padding: 0 8px;
}

.top-area__list-action > li {
  padding-right: 30px;
}

.top-area__list-action a {
  transition: color 0.3s ease;
}

.top-area__list-action a:hover {
  color: #00bcd4;
}

.top-area__list-action i {
  font-size: 10px;
  padding-right: 5px;
}

.top-area__button {
  color: white;
  background: #494c64;
  border: none;
  border-radius: 3px;
  padding: 7px 13px 9px 13px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  transition: opacity 0.3s;
}

.top-area__button a {
  color: white;
}

.top-area__button:hover {
  opacity: 0.8;
}

.menu {
  background: white;
  box-shadow: 0 2px 7px #c2c2c2;
  position: sticky;
  top: 0;
}

.menu-item {
  position: relative;
}

.menu__list-nav > li {
  padding: 40px 0;
  padding-right: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 14px;
}

.menu-action > img,
.menu-action > div {
  margin-right: 20px;
  cursor: pointer;
}

.menu__cart > img {
  margin-right: 3px;
}

.menu__counter {
  background: #00bcd4;
  color: white;
  font-size: 13px;
  font-family: "Martel Sans", sans-serif;
}

.menu__counter > span {
  display: inline-block;
  vertical-align: sub;
  padding: 0 8px 0 5px;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #00bcd4;
}

.menu__logo {
  margin-right: 8px;
}

.menu__text > span {
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
}

.menu__list-nav > li:hover a {
  color: #00bcd4;
}

.menu__list-nav-sub {
  position: absolute;
  top: 100%;
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-top: 1px solid rgb(238, 238, 238);
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease-out 0.1s, opacity 0.3s ease-out 0.1s,
    visibility 0.3s ease-out 0.1s;
}

.menu__list-nav > li:hover .menu__list-nav-sub {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.menu__list-nav-sub > li {
  padding: 20px 120px 20px 20px;
  cursor: pointer;
  border-bottom: 0.5px solid rgb(238, 238, 238);
  background: #f4f6f7;
  border-left: 4px solid transparent;
  font-size: 13px;
  color: #5f727f;
  font-weight: 400;
  transition: background-color 0.1s linear;
}
.menu__list-nav-sub > li:hover {
  border-left: 4px solid #00bcd4;
  background: white;
}

.slide-show {
  width: 100%;
  height: 500px;
  background: #e3e8eb;
}

.block-1 {
  padding: 145px 0;
}

.block-1__item {
  /* padding-right: 76px; */
  padding: 0 40px;
  position: relative;
  left: -40px;
}

.block-1__title > h1 {
  font-size: 24px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  width: 60%;
  white-space: 20px;
  line-height: 1.5;
}

.block-1__content {
  margin-top: 25px;
  width: 70%;
  color: #5f727f;
  line-height: 1.5;
}

.block-1__action {
  margin-top: 50px;
}

.block-1__action > button {
  cursor: pointer;
  width: 147px;
  height: 30px;
  outline: none;
  border-radius: 3px;
  border: none;
  background: #00bcd4;
  color: white;
  transition: opacity 0.3s;
}

.block-1__action > button:hover {
  opacity: 0.7;
}
