*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: #5f727f;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* css module */

.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.ff-source-san-pro {
  font-family: "Source Sans Pro", sans-serif;
}

.ff-montserrat {
  font-family: "Montserrat", sans-serif;
}

.margin-0-auto {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-content-space-between {
  justify-content: space-between;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-align-item-center {
  align-items: center;
}

.flex-align-item-flex-start {
  align-items: flex-start;
}

.flex-align-item-baseline {
  align-items: baseline;
}

.p-relative {
  position: relative;
}

.border-rounded-high {
  border-radius: 1000px;
}

.border-rounded-50-percent {
  border-radius: 50%;
}

.border-rounded-low {
  border-radius: 5px;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 800;
}

.bg-primary {
  background: white;
}

.bg-secondary {
  background: #393b51;
}

.bg-light {
  background: #f0f3f2;
}

.bg-light-medium {
  background: #f4f6f7;
}

.bg-dark {
  background: #414352;
}

.bg-blue-light {
  background: #00bcd4;
}

.text-primary {
  color: white;
}

.text-secondary {
  color: #5f727f;
}

.text-grey {
  color: #93a2ae;
}

.text-dark {
  color: #3c3950;
}

.text-blue-light {
  color: #00bcd4;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/* top area */

.top-area {
  border-top: 5px solid #00bcd4;
  font-size: 14px;
}

.top-area i {
  font-size: 16px;
}

.top-area-item {
  flex: 33.33%;
}

.top-area__location {
  margin-right: 10px;
}

.top-area__location > i,
.top-area__phone-number > i {
  padding-right: 3px;
}

.top-area__list-social-network > li {
  padding: 0 8px;
}

.top-area__list-action > li {
  padding-right: 30px;
}

.top-area__list-action a {
  transition: color 0.3s ease;
}

.top-area__list-action a:hover {
  color: #00bcd4;
}

.top-area__list-action i {
  font-size: 10px;
  padding-right: 5px;
}

.top-area__button {
  background: #494c64;
  padding: 7px 13px 9px 13px;
  margin: 10px 0;
  transition: opacity 0.3s;
}

.top-area__button:hover {
  opacity: 0.8;
}

/* menu */

.menu {
  box-shadow: 0 2px 7px #c2c2c2;
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu input {
  display: none;
}

.menu__item:nth-child(2) {
  display: none;
}

.menu__left-side > label {
  display: block;
  cursor: pointer;
}

.menu__left-side label::after {
  content: "";
  border-top: 1px solid black;
  display: block;
  width: 17px;
  transition: transform 0.3s ease-out;
  transform-origin: top left;
}

.menu__left-side label::before {
  content: "";
  border-top: 1px solid black;
  display: block;
  margin-bottom: 5px;
  width: 17px;
  transition: transform 0.3s ease-out;
  transform-origin: bottom left;
}

.menu__left-side span {
  border-top: 1px solid black;
  margin-bottom: 5px;
  display: block;
  width: 17px;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
}

.menu__list-nav > li {
  padding: 40px 40px 40px 0;
  font-size: 14px;
}

.menu__action > img,
.menu__action > div {
  margin-right: 20px;
  cursor: pointer;
}

.menu__cart > img {
  margin-right: 3px;
}

.menu__counter {
  font-size: 13px;
  font-family: "Martel Sans", sans-serif;
}

.menu__counter > span {
  display: inline-block;
  vertical-align: sub;
  padding: 0 8px 0 5px;
  top: 1px;
}

.triangle-left-icon {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #00bcd4;
}

.menu__logo {
  margin-right: 8px;
}

.menu__text > span {
  font-size: 27px;
}

.menu__list-nav > li:hover a {
  color: #00bcd4;
}

.menu__list-nav-sub {
  position: absolute;
  top: 100%;
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-top: 1px solid rgb(238, 238, 238);
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s ease-out 0.1s;
}

.menu__list-nav > li:hover .menu__list-nav-sub {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.menu__list-nav-sub > li {
  padding: 20px 120px 20px 20px;
  cursor: pointer;
  border-bottom: 0.5px solid rgb(238, 238, 238);
  border-left: 4px solid transparent;
  font-size: 13px;
  transition: background-color 0.1s linear;
}

.menu__list-nav-sub > li:hover {
  border-left: 4px solid #00bcd4;
  background: white;
}

.menu__icon-language {
  width: 27px;
  height: 21px;
}

/* slide show */

.slide-show__box {
  width: 100%;
  padding-top: 32.81%;
  background: #e3e8eb;
}

/* block-1  */

.block-1 {
  padding: 145px 0;
}

.block-1__list-item {
  margin-left: -42px;
}

.block-1__item {
  padding: 42px;
  flex: 33.33%;
}

.block-1__title > h1 {
  font-size: 24px;
  width: 60%;
  line-height: 1.5;
}

.block-1__icon {
  width: 50px;
  height: 50px;
}

.block-1__content {
  margin-top: 25px;
  width: 70%;
  line-height: 1.5;
}

.block-1__action {
  margin-top: 50px;
}

.block-1__action > button {
  width: 147px;
  height: 30px;
  transition: opacity 0.3s;
}

.block-1__action > button:hover {
  opacity: 0.7;
}

/* counter  */

.counter {
  background: #3a3c4b;
  padding: 120px 0;
}

.counter__item {
  flex: 25%;
}

.counter__box {
  width: 170px;
  height: 170px;
}

.counter--green-light {
  border-color: #b0de79;
  color: #b0de79;
}

.counter--spring-green {
  border-color: #7ee0bf;
  color: #7ee0bf;
}

.counter--blue-light {
  border-color: #83bce9;
  color: #83bce9;
}

.counter--medium-purple {
  border-color: #a289e8;
  color: #a289e8;
}

.counter__box::after {
  content: "";
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 4px solid;
  border-color: inherit;
  position: absolute;
}

.counter__box::before {
  content: "";
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: 2px solid;
  border-color: inherit;
  position: absolute;
}

.counter__icon {
  width: 50px;
  height: 50px;
}

.counter__number {
  font-size: 50px;
  margin: 30px 0 10px 0;
}

.counter__title {
  font-size: 24px;
}

/* why-choose-us  */

.why-choose-us {
  padding-top: 115px;
  padding-bottom: 55px;
}

.why-choose-us__header {
  text-align: center;
  padding-bottom: 40px;
  font-size: 50px;
}

.why-choose-us__list-item {
  margin-left: -42px;
}

.why-choose-us__item {
  margin-left: 42px;
  padding: 60px 0 60px 0;
  flex: calc(33.33% - 42px);
}

.why-choose-us__item:nth-child(-n + 3) {
  border-bottom: 1px solid #d6dde0;
}

.why-choose-us__icon {
  background: #46485c;
  width: 50px;
  height: 50px;
  margin-right: 18px;
}

.why-choose-us__title {
  font-size: 19px;
}

.why-choose-us__content {
  margin-left: 68px;
  padding-top: 20px;
  line-height: 1.5;
}

/* full-width   */

.full-width--bg-green {
  background: #aed581;
}

.full-width--bg-blue {
  background: #00bcd4;
}

.full-width--bg-black {
  background: #37394c;
}

.full-width--color-white {
  color: white !important;
}

.full-width__item {
  box-sizing: border-box;
  flex: 33.3333%;
  padding: 55px;
}

.full-width__number {
  font-size: 80px;
  padding: 60px 0;
}

.full-width__title {
  font-size: 36px;
  color: #ebf4e2;
  padding-bottom: 40px;
}

.full-width__title > span {
  color: #e7ff89;
}

.full-width__content {
  font-size: 24px;
  line-height: 1.5;
  padding-bottom: 40px;
}

/* our-case-study */

.our-case-studies {
  text-align: center;
}

.our-case-studies__header {
  padding-top: 130px;
  font-size: 50px;
}

.our-case-studies__content {
  padding-top: 80px;
}

.our-case-studies__group-btn {
  padding-top: 110px;
}

.our-case-studies button {
  transition: background-color 0.5s, color 0.5s;
}

.our-case-studies__group-btn > button {
  margin-right: 15px;
  padding: 10px 25px;
  background: #dfe5e8;
  font-size: 14px;
}

.our-case-studies__group-btn > button:hover {
  background: #99a9b5;
  color: white;
}

.our-case-studies__group-image {
  padding-top: 85px;
  display: grid;
  grid-gap: 0 0;
}

.our-case-studies__group-image > div:nth-child(n) {
  width: 100%;
  padding-top: 100%;
}

.our-case-studies__group-image > div:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.our-case-studies__group-image > div:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}

.our-case-studies__group-image > div:nth-child(3) {
  grid-column: 4;
  grid-row: 1;
}

.our-case-studies__group-image > div:nth-child(8) {
  grid-column: 3 / span 2;
  grid-row: 3;
  padding-top: 50%;
}

.our-case-studies__group-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-case-studies__footer {
  padding: 105px 0;
}

.our-case-studies__footer > button {
  margin: 0 20px;
  padding: 17px 40px;
  flex: 0 0 120px;
  box-sizing: content-box;
  font-size: 16px;
  border: 1px solid #00bcd4;
}

.our-case-studies__footer > button:hover {
  background: #00bcd4;
  color: white;
}

.our-case-studies__footer > div {
  flex: auto;
  height: 5px;
  border-top: 1px solid #00bcd4;
  border-bottom: 1px solid #00bcd4;
}

/* core-competence  */

.core-competence__header {
  padding-top: 110px;
  padding-bottom: 170px;
  background-image: linear-gradient(to right, #42a2e9, #00d5c3);
  text-align: center;
}

.core-competence__header-title {
  font-size: 50px;
  padding-bottom: 70px;
}

.core-competence__header-content {
  line-height: 1.5;
}

.core-competence__header::before,
.core-competence__header::after {
  content: "";
  height: 70px;
  width: 50%;
  background: #393b51;
  position: absolute;
  bottom: 0;
}

.core-competence__header::before {
  left: 0;
  border-top-right-radius: 1000px;
}

.core-competence__header::after {
  right: 0;
  border-top-left-radius: 1000px;
}

.core-competence__item {
  flex: 50%;
  text-align: center;
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 1;
  overflow: hidden;
}

.core-competence__item:nth-child(n):before {
  content: "";
  border: 1px dashed #5f727f;
  position: absolute;
}

.core-competence__item:nth-child(1):before {
  height: 80%;
  right: 0;
}

.core-competence__item:nth-child(2):before {
  width: 90%;
  bottom: 0;
  left: 0;
  transform: translateX(10%);
}

.core-competence__item:nth-child(3):before {
  width: 90%;
  top: 0;
  left: 0;
}

.core-competence__item:nth-child(4):before {
  height: 80%;
  top: 0;
  left: 0;
  transform: translateY(10%);
}

.core-competence__item-icon {
  width: 100%;
  height: 150px;
}

.core-competence__item-icon::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background: #393b51;
  opacity: 0.3;
}

.core-competence__item:nth-child(2) > .core-competence__item-icon::after {
  transform: rotate(45deg) scale(1.5);
  transform-origin: center left;
}

.core-competence__item-title {
  font-size: 28px;
  padding: 30px 0;
}

.core-competence__item-content {
  padding: 0 40px;
  color: #c9d8e3;
}

.core-competence__item-button {
  padding: 60px 0;
}
.core-competence__item-button > button {
  padding: 6px 23px;
  border: 1px solid #00bcd4;
  font-size: 14px;
}

/* pricing table */

.pricing-table {
  text-align: center;
  padding: 128px 0 150px 0;
}

.pricing-table__header {
  font-size: 50px;
  padding-bottom: 80px;
}

.pricing-table__list-item {
  padding-top: 127px;
}

.pricing-table__item {
  flex: 25%;
}

.pricing-table__item {
  margin-top: 26px;
}

.pricing-table__item:nth-child(3) {
  margin-top: 0;
}

.pricing-table__item:nth-child(3) > .pricing-table__item-title {
  padding-top: 40px;
}

.pricing-table__item:nth-child(3) > .pricing-table__item-title::before {
  content: "";
  position: absolute;
  border-right: 1px solid #dfe5e8;
  height: 100%;
  right: -1px;
  top: -1px;
}

.pricing-table__item:nth-child(3) > .pricing-table__item-order {
  padding-bottom: 75px;
}

.pricing-table__item:nth-child(3) > .pricing-table__item-order::before {
  content: "";
  position: absolute;
  border-right: 1px solid #dfe5e8;
  height: 100%;
  right: -1px;
  bottom: -1px;
}

.pricing-table__item:nth-child(3) button {
  background: #83bce9 !important;
}

.pricing-table__item:last-child > .pricing-table__item-title,
.pricing-table__item:last-child > ul,
.pricing-table__item:last-child > .pricing-table__item-order {
  border-right: 1px solid #dfe5e8;
}

.pricing-table__item-title {
  font-size: 24px;
  padding: 30px 0;
  border-left: 1px solid #dfe5e8;
  border-top: 1px solid #dfe5e8;
}

.pricing-table__item-title > span {
  font-size: 16px;
}

.pricing-table__icon-new {
  position: absolute;
  left: 36px;
  width: 50px;
  height: 50px;
  background: #393d50;
  font-size: 12px;
  transform: translateY(-50%);
  z-index: 1;
}

.pricing-table--green-100 {
  background: #b0de79;
}

.pricing-table--caribbean-green {
  background: #7ee0bf;
}

.pricing-table--blue-100 {
  background: #83bce9;
}

.pricing-table--blue-violet {
  background: #a289e8;
}

.pricing-table__item-number {
  font-size: 65px;
  padding: 29px 0;
}

.pricing-table__item-number > span {
  font-size: 16px;
  padding-top: 8px;
}

.pricing-table__item > ul {
  padding-top: 30px;
  border-left: 1px solid #dfe5e8;
}

.pricing-table__item > ul > li {
  padding: 20px 0 15px 0;
  border-bottom: 1px solid #dfe5e8;
}

.pricing-table__item > ul > li:last-child {
  border: none;
}

.pricing-table__item-order {
  text-align: center;
  padding: 35px 0 50px 0;
  border-left: 1px solid #dfe5e8;
  border-bottom: 1px solid #dfe5e8;
}

.pricing-table__item-order > button {
  padding: 12px 24px;
  background: #393d50;
}

.pricing-table__icon-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid white;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  padding-right: 6px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* advertisement */

.advertisement {
  background: #ffcd46;
  padding: 60px 0;
}

.advertisement__item {
  flex: 33.33%;
}

.advertisement__wrap-logo > span {
  font-size: 63px;
}

.advertisement__logo {
  width: 73px;
  height: 69px;
  margin-top: -5px;
}

.advertisement__content {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: #393d50;
  line-height: 1.8;
}

.advertisement__button {
  text-align: right;
}

.advertisement__button > button {
  padding: 13px 33px;
  font-size: 19px;
  color: #393d50;
  border: 3px solid #393d50;
  background: transparent;
}

/* open-vacancies */

.open-vacancies {
  padding: 128px 0;
}

.open-vacancies__item:nth-child(1) {
  flex: 33.33%;
}

.open-vacancies__item:nth-child(2) {
  flex: 66.66%;
}

.open-vacancies__title {
  font-size: 24px;
  padding-bottom: 48px;
}

.open-vacancies__our-team {
  padding-right: 42px;
}

.open-vacancies__our-team > li {
  padding: 40px 0;
  margin-bottom: 25px;
}

.open-vacancies__person-box {
  padding: 0 35px;
}

.open-vacancies__avatar {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin-right: 17px;
}

.open-vacancies__name {
  font-size: 24px;
  padding-bottom: 19px;
}

.open-vacancies__position {
  font-size: 16px;
  color: #99a9b5;
  padding-bottom: 13px;
}

.open-vacancies__list-position > li {
  display: inline-block;
  min-width: 160px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.open-vacancies__list-position > .open-vacancies--button-active {
  border: 1px solid #dfe5e8;
  padding: 18px 0;
  cursor: none;
}

.open-vacancies__position-content {
  border: 1px solid #dfe5e8;
  padding: 40px;
}

.open-vacancies__position-image {
  width: 50%;
  padding-top: 32%;
  align-self: baseline;
}

.open-vacancies__position-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.open-vacancies__position-detail {
  width: 50%;
  padding-left: 40px;
}

.open-vacancies__position-detail > h1 {
  font-size: 19px;
  padding-bottom: 30px;
}

.open-vacancies__position-detail > p {
  line-height: 1.8;
}

.open-vacancies__position-requirements {
  margin-top: 60px;
}

.open-vacancies__position-requirements > li {
  flex: 50%;
  box-sizing: border-box;
  margin-bottom: 24px;
  padding-left: 17px;
}

.open-vacancies__position-requirements > li:nth-child(2n) {
  padding-left: 57px;
}

.open-vacancies__position-requirements > li::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #00bcd4;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.open-vacancies__position-requirements > li:nth-child(2n)::before {
  left: 40px;
}

/* contact-us */

.contact-us {
  padding: 129px 0 113px 0;
}

.contact-us__item {
  flex: 25%;
  text-align: center;
}

.contact-us__img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  display: inline-block;
}

.contact-us__item > h1 {
  padding-bottom: 30px;
  font-size: 19px;
}

.contact-us__item > p {
  padding-bottom: 10px;
  color: #99a9b5;
}

/* empty */

.empty {
  width: 100%;
  padding-top: 23.75%;
}

.empty::before,
.empty::after {
  content: "";
  width: 50%;
  height: 100%;
  background: #ccd4da;
  position: absolute;
  top: 0;
}

.empty::before {
  left: 0;
  border-top-right-radius: 40px;
}

.empty::after {
  right: 0;
  border-top-left-radius: 40px;
}

/* footer */

.footer-widgets {
  background: #212331;
  padding: 130px 0;
}

.footer-widgets .footer__list-item {
  margin-left: -42px;
}

.footer-widgets .footer__item {
  margin-left: 42px;
  flex: calc(25% - 42px);
}

.footer__wrap-logo {
  padding-bottom: 50px;
}

.footer__logo {
  width: 70px;
  height: 70px;
}

.footer__logo-text {
  font-size: 38.76px;
}

.footer__content {
  color: #99a9b5;
  line-height: 1.8;
}

.footer-widgets .footer__item > .footer__title {
  margin-bottom: 44px;
  display: inline-block;
}

.footer-widgets .footer__item > .footer__title::before {
  content: "";
  border-left: 8px solid #f20055;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  right: -20px;
  bottom: -2px;
  transform: rotateZ(135deg);
}

.footer-widgets .footer__item > .footer__list-link > li {
  padding-left: 15px;
  margin-bottom: 25px;
}

.footer-widgets .footer__item > .footer__list-link > li::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #00bcd4;
  border-radius: 50%;
  transform: translateY(-50%) scale(0.5);
  transform-origin: center left;
}

.footer__newsletter {
  line-height: 1.8;
}

.footer__text-box {
  margin-top: 40px;
}

.footer__text-box > input {
  padding: 12px 15px;
  border-radius: 3px;
  border: 1px solid #394050;
  background: #181828;
  outline: none;
  width: calc(100% - 38px);
}

.footer__text-box > button {
  outline: none;
  position: absolute;
  width: 40px;
  height: 42px;
  right: 0;
  top: 0;
  border: 1px solid #394050;
  background-color: #394050;
  cursor: pointer;
  color: rgb(196, 193, 193);
}

.footer__text-box > button:hover {
  background: #00d5c3;
}

.footer__text-box > p {
  font-size: 14px;
  padding-top: 18px;
}

.footer__text-box > p::before {
  content: "*";
  color: #00d5c3;
  padding-right: 3px;
}

.footer__image {
  height: 70px;
  padding-left: 70px;
  overflow: hidden;
}

.footer__image > img {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__post {
  padding: 15px 0;
}

.footer__post:nth-child(1) {
  padding: 15px 0;
  border-bottom: 1px solid #393d50;
}

.footer__post-content {
  padding-left: 12px;
}

.footer__post-content > p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
}

.footer__post-content > div {
  margin-top: 6px;
}

.footer__like {
  padding-right: 10px;
}

.footer__like > img {
  padding-right: 7px;
}

.footer-nav {
  padding: 45px 0;
  background: #181828;
}

.footer-nav .footer__item {
  flex: 33.33%;
}

.footer-nav .footer__item > ul > li {
  display: inline-block;
}

.footer__list-social-network > li {
  padding: 0 8px;
}

.footer__contact {
  text-align: center;
}

.footer__contact > li:nth-child(n) {
  padding: 0 10px;
  margin-bottom: 5px;
}

.footer__contact > li:nth-child(-n + 3) {
  border-right: 1px solid rgb(189, 189, 189);
}

.footer__list-social-network {
  justify-content: flex-end;
}
